body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fb8500;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #333;
}

nav ul li {
  display: inline;
  margin: 0;
}

nav ul li a {
  color: white;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
